*{
	margin:0px;
	padding:0px;
	box-sizing: content-box;
	text-decoration: none;
	list-style: none;
	/*color:inherit;*/
	font-family: 'open Sans', sans-serif;
}
img{
	display: block;
	margin: auto;
	height: auto;
}
ul{
	margin-bottom: 0px;
}
a:hover{
	text-decoration: none;
	color: #e74c3c;
	cursor: pointer;
}
body{
	overflow-x: hidden;
	/*font-family: abel, sans-serif;*/
}
nav{
	position: fixed;
	background-color: #e74c3c;
	color: black;
	width:100vw;
	border: 0px solid red;
	z-index: 10;
	line-height: 0em;
	height: 70px;
}
nav ul{
	display:flex;
	padding: 0px;
}
li{
	display: block;
}
.logo_li{
	flex: 1;
}
.button_li{
	flex:1;
	text-align: right;
	padding: 15px 25px;
}
.login_button{
	text-align: right;
	padding: 10px 22px;
	margin: 0px;
	background-color: #c0392b;
	color: white;
	border: 0px;
	transition: 1s;
}
.login_button:hover{
	background-color: black;
	transition: 1s;
}
.wrapper{

}
.logo{
	width:70px;
	height: 70px;
	padding: 0px;
	margin: 0px;
}
#header{
	position: relative;
	color: #fff;
	top:65px;
	background:linear-gradient(rgba(0,0,0,0.5), rgba(255,255,255,0.1)), url('images/slide2.jpg');
	background-position: center;
	width: 100vw;
	height: 100vh;
	background-attachment: scroll;
	background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	z-index: 0;
	background-color: black;
	/*filter:brightness(90%);*/	
}
#header h1{
	position: relative;
	padding:200px 50px 10px 50px;
	text-align: center;
	/*font-family: actor;*/
	color: #ecf0f1;
	font-size: 35px;
	filter: brightness(100%);
}
#header p{
	padding: 0px 50px 315px 50px;
	text-align: center;
	/*border: 4px solid blu*/
	color:white;
	text-shadow: 1px 1px black;
	font-size: 18px;
	/*font-family: actor, sans-serif;*/
}
form.login_form{
	width:90%;
}
form.food_search_form{
	text-align: center;
	padding:10px;
	margin: auto;
	display: block;
	/*border: 5px solid gre*/
}

form.food_search_form input[type="text"]{
	width:40vw;
	padding: 12px 30px;
	height: 30px;
	border:none;
	border-radius: 0px; 

}
form.food_search_form input[type="submit"]{
	padding: 12px 30px;
	background-color:#c0392b;
	border: none;
	/*border-radius:.25rem;*/
	color:white;
	transition: 0.7s;
	cursor: pointer;
	height: 30px;
	margin-left: -10px;
}
form.food_search_form input[type="submit"]:hover{
	background-color: black;
	color:white;
	transition: 0.7s;
}
.long_button{
	width: 95%;
	text-align: center;
}
#product{
	position: relative;
	margin-top:80px;
	/*font-family: abel;*/
	color:black;
	/*border-bottom: 2px solid white;*/
	display: flex;
	flex-direction: column;
}
#product h2{
	padding-top: 15px;
	text-align: center;
}
#product #list_of_item_sold{
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	text-align: center;
	/*border-bottom: 0px solid #34495e;*/
	/*background-color: red;*/
}
.product_thumbnail{
	max-width:70px;
	height: auto;
	padding: 50px;
	transition: 0.5s;
	/*display: flex;*/
	flex-wrap: wrap;
}
.product_thumbnail:hover{
	width: 70px;
	background-color: #ecf0f1;
	transition: 0.5s;
}
#breakfast, #dinner, #pizza, #burger, #combo, #drink, #beverage{
	margin: auto;
	flex:1;	
	/*box-sizing: content-box;*/
}

.caption{
	position: relative;
	top:-37px;
	z-index: 0;
}

.flexed{
	display: flex;
	flex-wrap: wrap;
}
.flexed .right{
	/*border: 1px solid red;*/
	flex:1;
}
.flexed .left{
	flex:1;
	/*border:1px solid blue;*/
}
#news{
	background-attachment: fixed;
	background-color: #f6f6f6;
	padding:100px 50px;
	color:white;
	box-sizing: content-box;
}
#news h1{
	font-size: 40px;
	text-align: center;
	color: black;
	text-shadow: 1px black;
	margin-bottom: 15px;
}
#news p{
	display: block;
	margin: auto;
	text-align: center;
	color: grey;
	font-size: 18px;
	line-height: 1.5em;
	text-shadow: 2px gold;
	width: 60%;
}
#share{
	/*background-image: url('../landing_page/images/arc.jpg');
	background-position: top left;
	background-repeat: no-repeat;*/
	text-align: center;
	padding: 50px 0px;
}
#shareTextDiv{
	display:block; 
	margin:auto;
}
#share h2{
	margin-top: 10px;
	font-size: 1.85em;
	padding: 15px;
	font-weight: bold;
	text-transform: capitalize;
	/*font-family: nova-mono, sans-serif;*/
}
#share p{
	/*font-family: abel, sans-serif;*/
	color:grey;
	font-size: 18px;
	padding: 0px 15px;
	margin-bottom: 25px;
}
#share-image{
	max-width: 500px;
	height: auto;
}

.center{
	padding-top: 7px; 
	text-align: center;
	display: block;
	margin:auto;
}
#promote{
	background-color: #ecf0f1;
	padding: 50px 0px;
	text-align: center;
}
#promotionText{
	margin: 40px 0px;
	text-align: center;
	font-size: 20px;
}
#promotionText h1{
	font-weight: bold;
	font-size: 35px;
	padding: 15px;
}
#promotionText p{
	color: grey;
	padding: 0px 15px;
	font-size: 18px;
}
.promoteImage{
	display: block;
	margin: auto;
}
.signup-div{
	display: block;
	margin:auto;
	text-align: center;
	padding: 50px;
}
.signup-div h2{
	
	margin-bottom: 45px;
	font-weight: bold;
}

#footer{
	background-color: #bdc3c7;
	text-align: center;
	font-family: abel, sans-serif;

}
ul.link li{
	display: inline-block;
	padding: 7px;
	font-size: 12px;

}
.parallex-window {
	background: transparent;
	text-align: center;
	padding: 100px 0;
	color: #FFF;
	background:linear-gradient(rgba(0,0,0,1), rgba(255,255,255,0.1)), url('images/background2.jpg');
	background-attachment: fixed;	
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.parallex-img{
	width:100%;
	height:100%;
	position: relative;
}

.parallex-window h1{
	font-size: 3rem;
	width: 50%;
	margin: 0 auto;
}

.scaled{
	transform: scale(1.0);
	transition: 0.2s;
}
.scaled:hover{
	transform: scale(1.1);
	transition: 0.2s;
}
@media screen and (max-width: 906px){
	#news h1, #news p{
		width: 100%;
	}

	.flexed{
		flex-direction: column-reverse;
	}
	.parallex-window h1{
		width:100%;
}
}

@media screen and (max-width: 532px){
	.mobile-display-disable{
		display: none;
	}
	#search_form_div{
		text-align: center;
		display: block;
		margin:auto;
	}
	form.food_search_form{
		/*display: flex;*/
		flex-direction: column;
		margin: auto;
		display: block;

	}
	form.food_search_form input[type="text"]{
	width:80vw;
	padding: 12px 5px;
}
form.food_search_form input[type="submit"]{
	width:25vw;
	display: block;
	margin:10px auto;
}
.flexed {
	flex-direction: column-reverse;
}

.flexed2{
	flex-direction: column;
}
#promote{
	padding: 0px;
}
#promoteImageDiv{
	padding:inherit 0px;
	margin-bottom: 25px;
}

#promotionText{
	margin-bottom: 0px;
	text-align: center;
}
.promoteImage{
	display: block;
	margin: auto;
	margin-top: 15px;
	text-align: center;
	max-width: 300px;
	height: auto;
}
#share-image{
	max-width: 250px;
	height: auto;
	margin:inherit 0px;
}
.middle-box-wrapper h1{	
	font-size: 28px;
}
.parallex-window h1{
	width:100%;
}
}


